@import url("https://fonts.googleapis.com/css?family=Work+Sans");
* {
  font-family: "Work Sans", sans-serif; }

html {
  background: url(../img/bg.png) repeat;
  -webkit-background-size: 200px;
  -moz-background-size: 200px;
  -o-background-size: 200px;
  background-size: 200px; }

.container {
  padding: 20px; }
  .container .main {
    padding-left: 30%;
    width: 40%; }
    @media screen and (max-width: 400px) {
      .container .main {
        padding-left: 5%;
        width: 90%; } }
    @media screen and (max-width: 1024px) {
      .container .main {
        padding-left: 10%;
        width: 80%; } }
    .container .main h1 {
      font-family: "Work Sans", sans-serif;
      text-align: center;
      padding: 10px; }
    .container .main p {
      padding: 5px;
      font-family: "Work Sans", sans-serif;
      text-align: center; }
    .container .main a {
      color: black; }
    .container .main a:hover {
      text-decoration: none; }
    .container .main .border {
      background-color: black; }
    .container .main .border-top {
      height: 2px;
      animation: scaleOut 1s; }
    .container .main .bottom-border {
      height: 2px;
      animation-delay: 2s; }
    .container .main .bottom-left-border {
      float: left;
      animation: slideRight 1s;
      animation-delay: 2s;
      animation-fill-mode: forwards; }
    .container .main .bottom-border-right {
      float: right;
      animation: slideLeft 1s;
      animation-delay: 2s;
      animation-fill-mode: forwards; }
    .container .main .border-left {
      float: left; }
    .container .main .border-right {
      float: right; }
    .container .main .border-side {
      width: 2px;
      animation-name: slideDown;
      -webkit-animation-name: slideDown;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      animation-timing-function: linear;
      -webkit-animation-timing-function: linear;
      animation-delay: 1s;
      -webkit-animation-delay: 1s;
      display: inline-block;
      animation-fill-mode: forwards; }
    .container .main .portfolio-header-wrapper {
      display: inline-block;
      padding: 5px;
      background-color: white;
      transition: height 0.5s; }
    .container .main .portfolio-header {
      text-align: center;
      padding: 20px; }
    .container .main .portfolio-text {
      border: 2px solid black;
      padding: 10px;
      background-color: white; }

@keyframes slideDown {
  from {
    height: 0px; }
  to {
    height: 89px; } }

@keyframes slideRight {
  from {
    width: 0px; }
  to {
    width: 92px; } }

@keyframes slideLeft {
  from {
    width: 0px; }
  to {
    width: 92px; } }

@keyframes scaleOut {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }
