@import url("https://fonts.googleapis.com/css?family=Work+Sans");
html {
  background: url(../img/bg.PNG) repeat;
  -webkit-background-size: 200px;
  -moz-background-size: 200px;
  -o-background-size: 200px;
  background-size: 200px; }

.container {
  padding: 20px; }

h1 {
  font-family: "Work Sans", sans-serif;
  text-align: center; }

h1 span {
  border: 2px solid black;
  padding: 5px;
  background-color: white; }
