@import url("https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap");
html {
  font-family: "Bebas Neue", cursive;
  color: black; }

.container {
  padding: 20px; }
  .container h1 {
    font-size: 100px;
    display: none; }
  .container p {
    font-size: 75px;
    display: none; }
  .container .dog .paw {
    background-color: #8d4f3a;
    width: 100px;
    height: 150px;
    border-radius: 50px 50px 0px 0px;
    position: absolute;
    bottom: -125px; }
    .container .dog .paw:nth-child(1) {
      left: 25%; }
    .container .dog .paw:nth-child(2) {
      right: 25%; }
