$font: "Bebas Neue", cursive;

@import url("https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap");

html {
  font-family: $font;
  color: black;
}

.container {
  padding: 20px;

  h1 {
    font-size: 100px;
    display: none;
  }

  p {
    font-size: 75px;
    display: none;
  }

  .dog {
    .paw {
      background-color: #8d4f3a;
      width: 100px;
      height: 150px;
      border-radius: 50px 50px 0px 0px;
      position: absolute;
      bottom: -125px;

      &:nth-child(1) {
        left: 25%;
      }
      &:nth-child(2) {
        right: 25%;
      }
    }
  }
}
