$break-small: 400px;
$break-large: 1024px;
$font: "Work Sans", sans-serif;
$white: #f5f5f5;
$lightgrey: #dadada;
$midgrey: #b4b2b2;
$darkgrey: #554842;
$darkred: #a75248;
$moongrey: #f5f3ce;

@import url("https://fonts.googleapis.com/css?family=Work+Sans");

html {
  background: url(../img/bg2.png) repeat;
  -webkit-background-size: 200px;
  -moz-background-size: 200px;
  -o-background-size: 200px;
  background-size: 200px;
  font-family: $font;
}

.container {
  padding: 20px;

  .main {
    padding-left: 30%;
    width: 40%;

    @media screen and (max-width: $break-small) {
      padding-left: 10%;
      width: 80%;
    }

    @media screen and (max-width: $break-large) {
      padding-left: 5%;
      width: 90%;
    }

    h1 {
      margin: 0;
      font-family: $font;
      text-align: center;
      padding: 10px;
    }

    .world {
      color: black;
      text-decoration: none;
    }

    .world:hover {
      color: #0077be;
      animation: spin 2s linear infinite;
      -webkit-animation: spin 2s linear infinite;
      -moz-animation: spin 2s linear infinite;
    }

    p {
      padding: 5px;   
      font-family: $font;
      text-align: center;
    }

    .world {
      color: black;
      text-decoration: none;
      &:hover {
        color: #0077be;
        animation: spin 2s linear infinite;
        -webkit-animation: spin 2s linear infinite;
        -moz-animation: spin 2s linear infinite;
      }
    }

    .text-link {
      color: black;
      &:hover {
        text-decoration: none;
      }
    }

    .portfolio-header-wrapper {
      display: inline-block;
      background-color: #eee;
      transition: height 0.5s;
      border-radius: 20px;
    }

    .menu-items {
      display: flex;
      padding-bottom: 20px;
  
      .menu-item {
        text-align: center;
        width: 33%;
        text-decoration: none;
        color: black;

        span { 
          &:hover {
          background-color: $midgrey;
        }
      }
    }

    .white-bg {
      border-radius: 20px;
      padding: 10px;
      background-color: white;
      border: 2px solid black;
    }

    .portfolio-header {
      text-align: center;
      padding: 20px;
    }

    .portfolio-text {
      padding: 10px;
      border: 2px solid black;
      padding: 10px;
      background-color: #eee;
      border-radius: 20px;
    }

    footer {
      text-align: center;
    }

    .connect {
      display: inline-block;
      border-radius: 20px;
      font-size: 30px;
      text-align: center;
      border: 2px solid black;
      background-color: #eee;
      margin: 20px;
      padding: 5px 10px 5px 10px;
    }

    .connect > a {
      color: black;
      text-decoration: none;

      &:hover:first-child {
        color: #e1306c;
      }

      &:hover:nth-child(2) {
        color: #0077b5;
      }

      &:hover:nth-child(3) {
        color: #333;
      }

      &:hover:nth-child(4) {
        color: #f48024;
      }

      &:hover:nth-child(5) {
        color: #0072c6;
      }

      &:hover {
        text-decoration: none;
      }
    }
  }
}

// ROCKET!

.rocket {
  z-index: 7;
  position: fixed;
  width: 40px;
  left: calc(50% - 20px);
  top: -120px;

  @media screen and (max-width: $break-large) {
    top: -130px;
  }

  .rocket-body {
    left: calc(50% - 50px);
    transform: translate3d(0px, 0px, 0);
    animation: land 3.5s ease;
    animation-fill-mode: forwards;

    &:hover {
      cursor: pointer;
    }

    &.fly {
      animation: fly 1.5s ease-in-out;
      animation-fill-mode: forwards;
    }

    .body {
      background-color: $lightgrey;
      height: 90px;
      left: calc(50% - 50px);
      border-top-right-radius: 100%;
      border-top-left-radius: 100%;
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
      border-top: 5px solid $white;
    }
    &:before {
      content: "";
      position: absolute;
      left: calc(50% - 20px);
      width: 40px;
      height: 13px;
      background-color: $darkgrey;
      bottom: -13px;
      border-bottom-right-radius: 60%;
      border-bottom-left-radius: 60%;
    }
  }
  .window {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: url(../img/spaceman.jfif);
    background-position: 50% 44%;
    left: calc(50% - 18px);
    top: 40px;
    border: 3px solid $midgrey;
  }
  .fin {
    position: absolute;
    z-index: -100;
    height: 32px;
    width: 30px;
    background-color: $darkred;
  }
  .fin-left {
    left: -20px;
    top: calc(100% - 32px);
    border-top-left-radius: 80%;
    border-bottom-left-radius: 20%;
  }
  .fin-right {
    right: -20px;
    top: calc(100% - 32px);
    border-top-right-radius: 80%;
    border-bottom-right-radius: 20%;
  }
  .exhaust-flame {
    position: absolute;
    top: 90%;
    width: 28px;
    background: linear-gradient(to bottom, transparent 10%, $white 100%);
    height: 150px;
    left: calc(50% - 14px);
    animation: exhaust 0.2s infinite;
  }
  .fumes li {
    list-style: none;
  }
  .exhaust-fumes {
    animation: hide 3s;
    animation-fill-mode: forwards;
  }
  .exhaust-fumes li {
    width: 60px;
    height: 60px;
    background-color: $midgrey;
    list-style: none;
    position: absolute;
    border-radius: 100%;

    &:first-child {
      width: 200px;
      height: 200px;
      top: 110vh;
      animation: fumes 1.3s ease-in;
    }
    &:nth-child(2) {
      width: 150px;
      height: 150px;
      left: -120px;
      top: 100vh;
      animation: fumes 1s ease-in;
      background-color: $lightgrey;
    }
    &:nth-child(3) {
      width: 120px;
      height: 120px;
      left: -40px;
      top: 90vh;
      animation: fumes 2s ease-in;
    }
    &:nth-child(4) {
      width: 100px;
      height: 100px;
      left: -170px;
      top: 100vh;
      animation: fumes 2.3s ease-in;
      background-color: $lightgrey;
    }
    &:nth-child(5) {
      width: 130px;
      height: 130px;
      left: -120px;
      top: 130vh;
      animation: fumes 1.5s ease-in;
    }
    &:nth-child(6) {
      width: 200px;
      height: 200px;
      left: -60px;
      top: 95vh;
      animation: fumes2 2.5s ease-in;
      background-color: $lightgrey;
    }
  }
}

.moon {
  background-color: $moongrey;
  border-radius: 100%;
  position: fixed;
  width: 1000px;
  height: 100px;
  bottom: -60px;
  left: calc(50% - 500px);
  z-index: 5;
  box-shadow: inset 1em 0.5em 4px 0.2em rgba(0, 0, 0, 0.1);
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

@keyframes fumes {
  50% {
    transform: scale(1.5);
    background-color: transparent;
  }
  51% {
    transform: scale(0.8);
  }
  100% {
    background-color: $white;
    transform: scale(1);
  }
}

@keyframes fumes2 {
  50% {
    transform: scale(1.1);
  }
}

@keyframes hide {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
  }
}

@keyframes land {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100vh);
  }
}

@keyframes fly {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(0vh);
  }
}

@keyframes exhaust {
  0% {
    background: linear-gradient(to bottom, transparent 10%, $white 100%);
  }
  50% {
    background: linear-gradient(to bottom, transparent 8%, $white 100%);
  }
  75% {
    background: linear-gradient(to bottom, transparent 12%, $white 100%);
  }
}
