$blue: #b2c7ea;
$pink: #c91ab2;
$break-small: 400px;
$break-large: 1024px;
$font: "Work Sans", sans-serif;

@import url("https://fonts.googleapis.com/css?family=Work+Sans");

* {
  font-family: $font;
}

html {
  background: url(../img/bg.png) repeat;
  -webkit-background-size: 200px;
  -moz-background-size: 200px;
  -o-background-size: 200px;
  background-size: 200px;
}

.container {
  padding: 20px;

  .main {
    padding-left: 30%;
    width: 40%;

    @media screen and (max-width: $break-small) {
      padding-left: 5%;
      width: 90%;
    }

    @media screen and (max-width: $break-large) {
      padding-left: 10%;
      width: 80%;
    }

    h1 {
      margin: 0;
      font-family: $font;
      text-align: center;
      padding: 10px;
    }

    p {
      padding: 5px;
      font-family: $font;
      text-align: center;
    }

    a {
      color: black;
    }
    a:hover {
      text-decoration: none;
    }

    .border {
      background-color: black;
    }

    .border-top {
      height: 2px;
      animation: scaleOut 1s;
    }

    .bottom-border {
      height: 2px;
      animation-delay: 2s;
    }

    .bottom-left-border {
      float: left;
      animation: slideRight 1s;
      animation-delay: 2s;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
    }

    .bottom-border-right {
      float: right;
      animation: slideLeft 1s;
      animation-timing-function: linear;
      animation-delay: 2s;
      animation-fill-mode: forwards;
    }

    .border-left {
      float: left;
    }

    .border-right {
      float: right;
    }

    .border-side {
      width: 2px;

      -webkit-animation-name: slideDown;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      animation-timing-function: linear;
      -webkit-animation-timing-function: linear;
      animation-delay: 1s;
      -webkit-animation-delay: 1s;
      display: inline-block;
      animation-fill-mode: forwards;
    }

    .portfolio-header-wrapper {
      display: inline-block;
      background-color: white;
      transition: height 0.5s;
    }

    .portfolio-header {
      text-align: center;
      padding: 20px;
    }

    .portfolio-text {
      border: 2px solid black;
      padding: 10px;
      background-color: white;
    }
  }
}

@keyframes slideDown {
  from {
    height: 0px;
  }
  to {
    height: 50px;
  }
}

@keyframes slideRight {
  from {
    width: 0rem;
  }
  to {
    width: 5.5rem;
  }
}

@keyframes slideLeft {
  from {
    width: 0rem;
  }
  to {
    width: 5.5rem;
  }
}

@keyframes scaleOut {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}   
